
.phonem { position: relative;
          display: inline-block;
          margin: 0 5px 5px 0;
          text-align: center;
          padding: 0 5px 0 5px;
        }
.phonem:hover { background: #CCCCCC; }
.phonem > div { margin: auto; margin-bottom: 5px; }
.phonem .char {
    font-size: 5em; line-height: 1em; text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
}
.phonem.template { display: none; }

#write { width: 671px; min-height: 200px; height:auto; }


/*
 make text unselectable
 */
*.unselectable,
#keyboard li  {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   -ms-user-select: none;
   user-select: none;
}


/* keyboard customizations */
body {
    background: #e0ddaa;
    margin: 20px auto;
    text-rendering: optimizelegibility;
    font-family: 'Merriweather Sans', sans-serif;
}
#container {
    margin: 0px auto;
}

#keyboard li.red {
    background-color:#d40a23;
}
#keyboard li.blue {
    background-color:#4444FF;
}
#keyboard li.green {
    background-color:#99ac19;
}
#keyboard li.grey {
    background-color:#abbcb4;
}
#keyboard li.yellow {
    background-color: #ffff66;
}

#keyboard .save,
#keyboard .delete {
    font-family: 'Merriweather Sans', sans-serif;
}
#keyboard .play {
    font-family: 'Merriweather Sans', sans-serif;
}
#keyboard .return {
    font-family: 'Merriweather Sans', sans-serif;
}
#keyboard .left-shift {
    background-color:#abbcb4;
    font-family: 'Merriweather Sans', sans-serif;
}
#keyboard .right-shift {
    background-color:#abbcb4;
    font-family: 'Merriweather Sans', sans-serif;
}
.uppercase {
    background-color:#abbcb4;
    font-family: 'Merriweather Sans',
    sans-serif;
}
#keyboard .space {
    font-family: 'Merriweather Sans', sans-serif;
}
