textarea { width: 671px; height: 5em; }
textarea:disabled { color: black; }
textarea#write { font: 4em monospace; }


/*
 make text unselectable
 */
*.unselectable,
#keyboard li  {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   -ms-user-select: none;
   user-select: none;
}


/* keyboard customizations */
body {
    background: #e0ddaa;
    margin: 100px auto;
}
#container {
    margin: 0px auto;
}

#keyboard li.red {
    background-color:#d40a23;
}
#keyboard li.blue {
    background-color:#4444FF;
}
#keyboard li.green {
    background-color:#99ac19;
}
#keyboard li.grey {
    background-color:#abbcb4;
}
#keyboard li.yellow {
    background-color: #ffff66;
}

#keyboard .save,
#keyboard .delete {
    font-family: 'Merriweather Sans', sans-serif;
}
#keyboard .play {
    font-family: 'Merriweather Sans', sans-serif;
}
#keyboard .return {
    font-family: 'Merriweather Sans', sans-serif;
}
#keyboard .left-shift {
    background-color:#abbcb4;
    font-family: 'Merriweather Sans', sans-serif;
}
#keyboard .right-shift {
    background-color:#abbcb4;
    font-family: 'Merriweather Sans', sans-serif;
}
.uppercase {
    background-color:#abbcb4;
    font-family: 'Merriweather Sans',
    sans-serif;
}
#keyboard .space {
    font-family: 'Merriweather Sans', sans-serif;
}
