
.phonem { display: inline-block;
          text-align: center;
          margin: 0;
          padding: 0;
        }
.phonem:hover { background: rgb(255, 255, 102); color:black; z-index:1000; }
.phonem > div { margin: auto; margin-bottom: 5px; }
.phonem .char {
    min-width: 0.5em;
    font-size: 5em; line-height: 1em; text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
}
.phonem .filterwrapper { position: relative; }
.phonem .filter { display: none; position: absolute; background: rgb(255, 255, 102); }
.phonem:hover .filter { display: block; z-index:1000; }
.phonem.template { display: none; }
.phonem .filter>div { margin:0 3px 3px 3px; }

#write {
    width: 671px;
    min-height: 200px;
    height: auto;
    background: black;
    color: white;
    border: 2px solid rgb(204, 204, 204);
}

#keyboard li {
    margin-right:3px;
    background: rgb(238, 238, 238);
    border: 2px solid rgb(204, 204, 204); 
    font-weight: bold;
}
#keyboard li:hover { border:2px solid black; }
/*
 make text unselectable
 */
*.unselectable,
#keyboard li  {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   -ms-user-select: none;
   user-select: none;
}


/* keyboard customizations */
body {
    background: white;
    margin: 20px auto;
    text-rendering: optimizelegibility;
    font-family: 'Merriweather Sans', sans-serif;
}
#container {
    margin: 0px auto;
}

#keyboard li.red {
    background-color:#d40a23;
}
#keyboard li.blue {
    background-color:#4444FF;
}
#keyboard li.green {
    background-color:#99ac19;
}
#keyboard li.grey {
    background-color:#abbcb4;
}
#keyboard li.yellow {
    background-color: #ffff66;
}

#keyboard .gendershift {
    font-size: 2em;
    font-weight: bolder;
}
